<p id="notice"><%= notice %></p>

<h1>Standard Product Units</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @standard_product_units.each do |standard_product_unit| %>
      <tr>
        <td><%= standard_product_unit.title %></td>
        <td><%= standard_product_unit.description %></td>
        <td><%= standard_product_unit.image_url %></td>
        <td><%= link_to 'Show', standard_product_unit %></td>
        <td><%= link_to 'Edit', edit_standard_product_unit_path(standard_product_unit) %></td>
        <td><%= link_to 'Destroy', standard_product_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Standard Product Unit', new_standard_product_unit_path %>
