<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @standard_product_unit.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @standard_product_unit.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @standard_product_unit.image_url %>
</p>

<%= link_to 'Edit', edit_standard_product_unit_path(@standard_product_unit) %> |
<%= link_to 'Back', standard_product_units_path %>
