<%= form_for(stock_keeping_unit) do |f| %>
  <% if stock_keeping_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_keeping_unit.errors.count, "error") %> prohibited this stock_keeping_unit from being saved:</h2>

      <ul>
      <% stock_keeping_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :storage %>
    <%= f.number_field :storage %>
  </div>

  <div class="field">
    <%= f.label :standard_product_unit_id %>
    <%= f.number_field :standard_product_unit_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
